@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" src="~/assets/images/breadcrumb/bg/1-1-1920x373.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Về chúng tôi</h2>
                        <ul>
                            <li>
                                <a href="index.html">Home <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Về chúng tôi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-banner different-bg-position section-space-y-axis-100" data-bg-image="~/assets/images/about/banner/1-1-1920x598.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5">
                    <div class="parallax-img-wrap">
                        <div class="papaya">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.2">
                                    <img src="~/assets/images/logo/lion.png" width="1920" height="598" alt="Banner Images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 align-self-center">
                    <div class="about-banner-content">
                        <div class="section-title">
                            <span class="sub-title">Welcome to Mây Mei Accessory</span>
                            <h2 class="title font-size-60 mb-6">Best Beauty & Accessory Shop</h2>
                            <p class="short-desc mb-0">
                                Với phương châm "Chất lượng thật - Giá trị thật”, Mây Mei Accessory luôn nỗ lực không ngừng nhằm nâng cao chất lượng sản phẩm & dịch vụ để khách hàng có được những trải nghiệm mua sắm tốt nhất.
                                Toàn bộ sản phẩm có ở Mây Mei Accessory đều được cam kết 100% chính hãng,
                                đảm bảo nguồn gốc xuất xứ, có đầy đủ hóa đơn mua hàng VAT và tem phụ Tiếng Việt,
                                với mức giá luôn tốt hàng đầu thị trường trong mọi thời điểm.
                                Ngoài ra, Mây Mei Accessory và nhãn hàng cam kết bảo vệ hai lớp với mức đền bù 200% nếu phát hiện hàng giả,
                                trong đó 100% từ Mây Mei Accessory và 100% từ nhà phân phối, văn phòng đại diện hãng tại Việt Nam.
                            </p>
                            <div class="button-wrap pt-8">
                                <a class="btn btn-custom-size lg-size btn-primary btn-dark-hover rounded-0" href="shop.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-area section-space-y-axis-100">
    </div>
    <div class="about-banner about-banner-height" data-bg-image="~/assets/images/about/banner/2-1-1920x500.jpg">
        <div class="popup-btn">
            <video src="~/assets/images/logo/Gucci Bloom_ The Campaign Film.mp4" width="1920" height="500" autoplay loop muted> </video>
        </div>
    </div>
    <div class="team-member section-space-top-100">
        <div class="container">
            <div class="section-title text-center pb-55">
                <span class="sub-title text-primary">Hand Work</span>
                <h2 class="title mb-0">Mây Mei Accessry</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container team-member-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="~/assets/images/logo/van.jpg" width="200" height="480" alt="Team Member">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Thảo Vân</h6>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="~/assets/images/logo/van.jpg" width="200" height="480" alt="Team Member">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Thảo Vân</h6>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="~/assets/images/logo/van.jpg" width="200" height="480" alt="Team Member">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Thảo Vân</h6>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-tumblr"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-dribbble"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
<!-- Begin Shipping Area -->
<div class="shipping-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/plane.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Free Shipping</h5>
                        <p class="short-desc mb-0">Free Ship Nội Thành TP.HCM</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Online Support</h5>
                        <p class="short-desc mb-0">Hỗ trợ trực tuyến 24/7</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/shield.png" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Secure Payment</h5>
                        <p class="short-desc mb-0">Bảo mật giao dịch</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shipping Area End Here -->
